.banner {
  width: 740px;
  height: 486px;
  margin: 0 auto;
}

.banner__radius-out {
  margin: 0 auto;
  position: relative;
  width: 486px;
  height: 486px;
  background-color: rgba(211, 211, 211, 0.18);
  border-radius: 50%;
}

.banner__radius-in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 430px;
  height: 430px;
  background-color: rgba(211, 211, 211, 0.2)
}

.banner__img {
  max-width: 100%;
  max-height: 100%;
}