.header {
  display: flex;
  align-items: center;
  min-width: 100vh;
  min-height: 77px;
  background-color: #131415;
  margin-bottom: 79px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  min-width: 160px;
  height: 100%;
  text-align: left;
}

.header__logo-text {
  font-family: 'gorafree';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 1.8px;
  text-align: left;
  color: #f89513;
  text-transform: uppercase;
}

.header__menu {
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__menu-item {
  width: 105px;
  position: relative;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
}

.header__menu-link {
  font-family: 'Open__sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-decoration: none;
}

.header__menu-link:hover {
  color: #f89513;
}

.header__menu-home:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 19px;
  height: 14px;
  background: url(../../img/css_sprites.png) -166px -10px no-repeat;
}

.header__menu-reviews:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  background: url(../../img/css_sprites.png) -244px -10px no-repeat;
}

.header__menu-services:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 20px;
  height: 14px;
  background: url(../../img/css_sprites.png) -205px -10px no-repeat;
}

.header__contacts {
  min-width: 170px;
  text-align: right;
  position: relative;
}

.header__phone {
  font-family: 'Open__sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 6px;
}

.header__schedule-link {
  font-family: 'Open__sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(248, 149, 19, 0.7);
}

.header__dropdown {
  display: inline-block;
  text-align: right;
  position: relative;
  width: 115px;
}

.header__schedule-block {
  padding-top: 20px;
  padding-left: 19px;
  min-height: 70px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(23, 59, 117, 0.55);
  background-image: linear-gradient(to top, #ffffff, #ffffff);
  position: absolute;
  top: 100%;
  right: -9999px;
  width: 165px;
  font-family: 'Open__sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  font-style: normal;
  letter-spacing: normal;
  color: #221f1f;
  text-align: left;
  margin-top: 20px;
  opacity: 0;
  transition: opacity .4s;
}
.header__schedule-block:before {
  top: -20px;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 20;
}

.header__schedule-block:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  right: 5px;
}

.header__dropdown:hover .header__schedule-block {
  right: -13px;
  opacity: 1;
}

.header__schedule-timetable {
  color: #f89513;
  font-weight: bold;
}

